.btn {
    border: 1px solid @brown;
    padding: 12px 40px;
    line-height: 18px;
    font-size: 18px;
    border-radius: 3px;
    display : inline-block;
    &, &:hover, &:active, &:visited {
    	text-decoration: none;
    	color : @brown;
    }
}