//
// @font-face's declaration here
//
@font-face {
  font-family: 'Lora';
  src:  url('@{public}fonts/Lora/Lora-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('@{public}fonts/Lora/Lora-Regular.woff') format('woff'), 
  		url('@{public}fonts/Lora/Lora-Regular.ttf')  format('truetype'), 
  		url('@{public}fonts/Lora/Lora-Regular.svg#Lora-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src:  url('@{public}fonts/Lora/Lora-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('@{public}fonts/Lora/Lora-Bold.woff') format('woff'), 
  		url('@{public}fonts/Lora/Lora-Bold.ttf')  format('truetype'), 
  		url('@{public}fonts/Lora/Lora-Bold.svg#Lora-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src:  url('@{public}fonts/Lora/Lora-Italic.eot?#iefix') format('embedded-opentype'),  
  		url('@{public}fonts/Lora/Lora-Italic.woff') format('woff'), 
  		url('@{public}fonts/Lora/Lora-Italic.ttf')  format('truetype'), 
  		url('@{public}fonts/Lora/Lora-Italic.svg#Lora-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lora';
  src:  url('@{public}fonts/Lora/Lora-BoldItalic.eot?#iefix') format('embedded-opentype'),  
  		url('@{public}fonts/Lora/Lora-BoldItalic.woff') format('woff'), 
  		url('@{public}fonts/Lora/Lora-BoldItalic.ttf')  format('truetype'), 
  		url('@{public}fonts/Lora/Lora-BoldItalic.svg#Lora-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
