// BEM
.footer {

	height     : 420px;
	min-height : 420px;
	background : url("@{public}img/footer-bg.jpg");
	background-size : cover;
	color : @white;

	&__menus {
		lost-utility : clearfix;
		margin-bottom : 26px;
		margin-top : 26px;
	}
	&__menu {
		lost-column : 1/4 0 0;
	}

	&__copyright {
		font-size : 15px;
		margin-right : 80px;
		display : inline-block;
	}
	&__phones {
		display : inline-block;
		margin-right : 80px;
	}
	&__phone {
		display : inline-block;
		margin-right : 40px;
		font-size : 15px;
		font-weight : 500;
		&:last-child {
			margin-right : 0;
		}
	}

	&__socials {
		font-size : 0;
		display : inline-block;
	}
	&__social {
		font-size : 15px;
		margin-right : 10px;
		&:last-child {
			margin-right : 0;
		}
		width : 32px;
		height : 32px;
		border-radius : 16px;
		display : inline-block;
		text-align : center;
		line-height : 32px;
		&, &:hover, &:active, &:visited {
			color : @white;
			text-decoration: none;
		}

		&--vk { background-color : @bg-vk; }
		&--fb { background-color : @bg-fb; }
		&--ok { background-color : @bg-ok; }
		&--ig { background-color : @bg-ig; }
	}
	&__counter {
	    display: inline-block;
	    position: absolute;
	    right: 0;
	    bottom: 0px;
	    height: 31px;
	}
}
.footermenu {
	&__title {
		font-size : 16px;
		margin-bottom : 5px;
		display : block;

		&, &:hover, &:active, &:visited {
			color : @white;
			text-decoration: none;
		}

		span {
			border-bottom : 1px solid rgba(255,255,255, .4);
		}
	}
	&__link {
		display : block;
		line-height : 20px;
		font-size : 13px;
		padding-bottom : 5px;
		&, &:hover, &:visited, &:active {
			text-decoration : none;
			color : @white;
		}
		span {
			border-bottom : 1px solid rgba(255,255,255,.4);
		}
	}
}
