//
// general style for layouts
//

* {
    // font-size is in general.less: @main-font-size;
    line-height : 1.4;
    font-family : "Lora", serif; // general font
}
html {
    color       : @black;

    // to further use sizes in rem
    //.media-for(font-size, @main_font_size); // the adaptive way
    font-size : @main_font_size;

    body {
        background : @white;
        min-width  : @min_width;

        width      : auto;
        overflow-x : hidden !important;

        // nice fonts Safari
        text-rendering         : optimizeLegibility;
        -webkit-font-smoothing : antialiased;
    }
}

// box-sizing to all
*, *:before, *:after {
    .box-sizing( border-box );
}

// container & wrapper
.container {
    width     : 100%;
}
.wrapper {
    width        : @min_width;
    margin       : 0 auto;
    position     : relative;
    lost-utility : clearfix;
}

//
// Sticky footer
//
html, body, .layout-wrapper {
    margin  : 0;
    padding : 0;
    height  : 100%;
}
.layout {
    &-wrapper {
        display  : table;
        width    : 100%;
    }
    &-header, &-footer, &-main {
        display  : block;
        display  : table-row;
    }

    &-header, &-footer {
        height : 1px;
    }
} //.layout

// Page layout
.layout-main .wrapper {
    margin-top : 18px;
}
.central {
    width: 498px;
    float: left;
    padding-bottom : 40px;
}
.sidebar-right {
    width: 172px;
    float: left;
    text-align : right;
}