// BEM
.header {
	height : 240px;
	.wrapper { height : 240px; }
	width : 100%;

	&__logo {
	    width: 286px;
	    position: absolute;
	    left: 0;
	    top: 44px;
	    img {
	    	width : 100%;
	    }
	}

	&__nav {
		position: absolute;
		left: 362px;
		top: 26px;
	}

	&__i18n {
		position : absolute;
		right : 0;
		top: 36px;
	}
	&__i18n-lang {
		padding: 10px 50px 10px 10px;
		background : white;
		font-size : 14px;
		font-weight : 500;
		&, &:hover, &:active, &:visited {
			color : @black;
		}
		&:after {
			position : absolute;
			margin-left : 10px;
			width : 30px;
			height: 15px;
		}

		&--bel {
			&:after { content : url("@{public}img/flag-bel.png"); }
		}
		&--rus {
			&:after { content : url("@{public}img/flag-rus.png"); }
		}
		&.active {
			background : #f3f1ea;
			text-decoration : none;
		}
		&:nth-child(2) {
			margin-left : 10px;
		}

	}

	&__contacts {
		position : absolute; 
		right : 0;
		top : 92px;
	}
	&__email {
		margin-top : 14px;
		text-align : right;
		a {
			font-size : 17px;
		}
		a, a:hover, a:visited, a:active {
			color : @brown;
		}
	}
}

.phone {
	font-size : 27px;
	font-weight : 500;
	color : @black;
	position : relative;

	&__code {
		position: absolute;
		font-size: 20px;
		color: @brown;
		right: 100%;
		top: 2px;
		white-space: nowrap;
		margin-right: 10px;
	}
}
