@font-face {
    font-family: 'arrows';
    src: url('@{public}fonts/arrows/arrows.eot');
    src: url('@{public}fonts/arrows/arrows.eot#iefix') format('embedded-opentype'),
        url('@{public}fonts/arrows/arrows.woff') format('woff'),
        url('@{public}fonts/arrows/arrows.ttf') format('truetype'),
        url('@{public}fonts/arrows/arrows.svg#arrows') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
.arrow-icon {
    &:before {
        font-family: "arrows";
        font-style: normal;
        font-weight: normal;
        speak: none;

        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        /* opacity: .8; */

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;

        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
}
 
.arrow-icon--right { &:before { content: '\e801'; } } /* '' */
.arrow-icon--left { &:before { content: '\e802'; } } /* '' */