.nav {
	&__list {
		padding : 0;
		margin : 0;
		list-style-type : none;

		&--level1 {
			display : none;
			position : absolute;
			left: 100%;
			z-index: 9999;
			background: @white;
			top: 0;
			box-shadow: 0px 0px 10px 4px rgba(243,241,234,1);

			&:after {
				// to hide shadow;
				height :35px;
				width : 20px;
				background : @white;
				display : inline-block;
				content : ' ';
				position : absolute;
				top : 0;
				left : -20px;
			}
		}
	}

	&__item {
		font-size : 16px;
		line-height : 26px;
		display : block;
    	white-space: nowrap;
    	padding : 0 20px;
    	position : relative;
	    span {
	    	border-bottom: 1px solid #a2621f;
	    }
		&.after-hovered {
			padding-top : 26px;
		}
	    &.hovered {
			background: white;
			height: 36px;
			line-height: 36px;
			position: absolute;
			z-index: 99999;
			min-width: 100%;
			box-shadow: -10px 0px 10px 4px rgba(243,241,234,1);
			margin-top : -5px;
			a { padding-top : 5px;}

			span {
				color : @brown;
				border-bottom: none;
			}
    	}
	}

	&__link {
		position : relative;
		&, &:hover, &:visited, &:active {
			color : @black;
			text-decoration : none;
		}
		display : block;
		margin-top : 0;
		height : 26px;

		&--active { font-weight : 700; span {border-bottom : none; }}
	}
}
.nav__list--level1 .nav__item {
	&:hover {
		background : #f3f1ea;
	}
	height : 36px;
	line-height : 36px;
	span {
		border-bottom : none;
	}
	a, a:hover, a:visited, a:active {
		color : @black;
		text-decoration: none;
	}
	&--active {
		a { font-weight : 700; }
	}
}

