.normal-paragraph {
    font-size : 14px;
    line-height : 19px;
    p { 
        margin-top : 16px;
        margin-bottom : 0;
        font-size : 14px;
        line-height : 19px;
    }
}

.typography {

    * {
        font-family : "Lora", serif; // general font
    }

    //
    // Заголовки
    //
    h1, .h1 {
        font-size : 32px;
        font-weight : 500;
        margin-bottom : 26px;
        &:first-child {
            margin-top : 0;
        }
    }
    h2, .h2 {
        font-size : 20px;
        margin-top : 28px;
        margin-bottom : 10px;
        font-weight : 500;
    }
    h3, .h3 {
        font-size : 18px;
        margin-top : 18px;
        margin-bottom : 6px;
        font-weight : 500;
    }

    //
    // Ссылки
    //
    a { color : @link-color-main; }
    a:hover { color : @link-color-main; }
    a:visited { color : @link-color-main; }
    a:active { color : @link-color-active; }

    img {
        max-width : 542px;
        display : block;
        width : 100%;
    }
    img+span.img-title {
        min-height : 50px;
        font-size : 17px;
        line-height : 24px;
        font-weight: 400;
        font-style: italic;
        padding : 14px 24px 10px 24px;
        background : #f3f1ea;
        display : inline-block;
        margin-bottom : 10px;
    }


    //
    // Абзацы
    //
    .normal-paragraph();
    p {
        margin-top : 14px;
        margin-bottom : 8px;
        padding-right : 10px;
    }
    .brown {
        color : @brown;
    }
    strong {
        font-weight : 700;
    }

    //
    // Списки
    //

    ul {
        list-style-type : none;
        padding-left : 0;
        li {
            line-height : 26px;
            padding-bottom : 12px;

            &:before {
                content : url("@{public}img/ul-0.png");
                width : 26px;
                height : 26px;
                display : inline-block;
                vertical-align : middle;
                margin-right : 15px;
            }

            ul {
                list-style-type : none;
                padding-left : 41px;
                padding-top : 10px;
                margin-bottom : -6px;
                li {
                    line-height : 18px;
                    &:before {
                        content : url("@{public}img/ul-1.png");
                        margin-right : 8px;
                        width : 18px;
                        height : 18px;
                    }
                }
            }
        }
    }

    ol {
        list-style-type : none;
        padding-left : 0;
        counter-reset: section;

        li {
            line-height : 26px;
            padding-bottom : 12px;

            &:before {
                font-size : 14px;
                border : 1px solid @brown;
                color : @brown;
                border-radius : 13px;
                width : 26px;
                height : 26px;
                display : inline-block;
                vertical-align : middle;
                margin-right : 15px;
                line-height : 26px;
                text-align : center;
                content: counter(section);
                counter-increment: section;
            }

            ol {
                list-style-type : none;
                padding-left : 41px;
                padding-top : 10px;
                margin-bottom : -6px;
                counter-reset: section;

                li {
                    line-height : 18px;
                    &:before {
                        border : none;
                        margin-right : 8px;
                        width : 18px;
                        height : 18px;
                        line-height : 18px;
                        text-align : left;
                        content : counters(section,".") " "; 
                        counter-increment: section;
                    }
                }
            }
        }
    }

    // Чистый бестилевый список
    ul.clean {
        .clean-ul-list();
    }

    //
    // Таблицы
    //
    table {
        margin-top : 10px;
        margin-bottom : 30px;
        width : 100%;
        tr {
            &.highlight {
                background : #eeebe1;
            }
            th {
                font-size : 14px;
                font-weight : 700;
                text-transform: uppercase;
            }
            td {
                font-size : 14px;
            }
            th, td {
                padding : 10px 24px;
                text-align : left;
                border : 1px solid #eeebe1;
            }
            th:first-child, td:first-child {
                padding-left : 0;
                border-left : none;
            }
            th:last-child, td:last-child {
                border-right : none;
            }

            &:first-child {
                th, td {
                    border-top : none;
                }
            }

            &:last-child {
                td {
                    border-bottom : none;
                }
            }
        }

        &.calc-type {
            tr {
                td:first-child {
                    padding-left : 16px;
                    padding-right : 5px;
                }
                td:last-child {
                    padding-right : 5px;
                    padding-left : 5px;
                }
                th, td {
                    border-left : 0;
                    border-right : 0;
                    font-size : 14px;
                }
            }
        }
    }

    //
    // Цитаты
    //
    blockquote {}

    //
    // Сноска
    //
    cite {}

    //
    // Формы
    //
    form {}
    .btn {}

    //
    // Typography utilities
    //
    .utility-text-left   { text-align : left !important; }
    .utility-text-center { text-align : center !important;  }
    .utility-text-right  { text-align : right !important; }

    .utility-float-left   { float : left !important; }
    .utility-float-center { float : center !important; }
    .utility-float-right  { float : right !important; }

    .utility-block { display: block !important; }
    .utility-inline { display: inline !important; }
    .utility-inline-block { display: inline-block !important; }

    .strong { font-weight : 700 !important; }
    .underline { text-decoration: underline !important; }
    .semistrong, strong.semi { font-weight : 500 !important; }
    .cursive { font-style : italic !important; }

} //.typography
