.about-col {
	lost-column : 1/2 0 0;
	&__title {
		font-size : 28px;
		line-height : 32px;
		font-weight : 500;
		span {
			border-bottom : 1px solid @brown;
		}
		&, &:hover, &:active, &:visited {
			color : @brown;
			text-decoration : none;
		}
		&:hover {
			span { border : none; }
		}
	}
	&__text {
		.normal-paragraph();
		p {
			margin-top: 18px;
			margin-bottom: 0;
			padding-right: 90px;
		}

	}
	&__more-link {
		margin-top : 20px;
		.btn();
	}
}