.breadcrumbs {
	clear : both;
	margin-bottom : 26px;
	margin-top : 34px;
	&__link {
		font-size : 15px;

		&, &:hover, &:visited, &:active {
			text-decoration: none;
		}

		span {
			color : @brown;
			border-bottom : 1px solid #d3c9bf;
		}
		&--active {
			span {
				color : @black;
				border-bottom : none;
			}	
		}

		&:after {
			content : "»";
			margin-left : 5px;
			color : @black;
		}
		&:last-child {
			&:after {
				content : "";
			}
		}
	}
}

.page.portfolio-cat, .page.portfolio-gallery {
	.breadcrumbs { margin-left : 250px;}
}