.calculator {
	&__results {
		display : none;
	}
	&__form {
		width : 266px;
		margin-bottom : 80px;
	}

	&__label {
		font-size : 17px;
		padding-bottom : 4px;
		font-weight : 500;
		display : block;
	}

	&__input {
		height : 40px;
		display : inline-block;
		font-size : 17px;
		line-height : 40px;
		padding : 0 15px;
		color : @brown-dark;
		background : @white;
		border : 1px solid #b1a89e;
		border-radius : 3px;
		box-shadow: inset 0px 2px 7px -1px #b1a89e;

		&--select {
			width : 100%;
		}
	}
	&__select-wrapper {
		position : relative;
		&:after {
			content: ' ';
			width: 20px;
			height: 20px;
			position: absolute;
			right: 7px;
			display: inline-block;
			top: 11px;
			background: url("@{public}img/select-arrow.png") no-repeat white;
			background-position: 50% 50%;
		}
	}
	&__submit {
		margin-top : 30px;
		width : 212px;
		display : block;
		background : @brown;
		color : @white;
		line-height : 40px;
		text-align : center;
		font-weight : 500;
		font-size: 17px;
		border : none;
		border-radius : 4px;
	}

	&__input-wrapper {
		margin-bottom : 15px;
	
		&--w1 {
			width : 166px;
			float : left;
			.calculator__input {
				width : 92px;
			}
		}

		&--w2 {
			float : left;
			width : 100px;
			.calculator__input {
				width : 92px;
			}
			&:after {
				clear : both;
				content : " ";
			}
		}
	}
}

.results-header {
	text-align : right;
	padding-right : 50px;
}