.examples {
	.wrapper();
	margin-top : 36px;

	&__title {
		font-size : 28px;
		line-height : 32px;
		font-weight : 500;
		span {
			border-bottom : 1px solid @brown;
		}
		&, &:hover, &:active, &:visited {
			color : @brown;
			text-decoration : none;
		}
		&:hover {
			span { border : none; }
		}
		a, a:hover, a:active, a:visited {
			color : @brown;
			text-decoration: none;
		}
	}
	&__arrows {
		display : inline-block;
		margin-left : 20px;
	}
	&__arrow {
		&, &:hover, &:active, &:visited {
			text-decoration: none;
			color : @black;
		}
		&--left {  }
		&--right { }
	}
	&__arrow-lg {
		opacity : 0;
		transition : opacity .3s ease-out;
		&.active {
			opacity : 1;
			transition : opacity .3s ease-in;
		}
		.arrow-icon();
		position : absolute;
		top : 132px;
		font-size : 62px;
		&, &:hover, &:visited, &:active {
			text-decoration: none;
			color : @brown;
		}
		&--left { left : -85px; .arrow-icon--left(); }
		&--right { right : -69px; .arrow-icon--right(); }

	}

	&__wrapper {
		lost-utility : clearfix;
		margin-top : 34px;
		max-height : 266px;
	}
	&__item {
		float : left;
		padding-right : 20px;
		height : 266px;
		max-height : 266px;
		overflow : hidden;
		&, &:active,&:focus {
			outline : none;
		}
	}
	&__pic {
		width : 100%;
		img {
			width : 100%;
		}
		margin-bottom : 16px;
	}
	&__link {
		font-size : 18px;
		line-height : 23px;
		display : inline;
		border-bottom : 1px solid #7f7f7f;
		&, &:hover, &:active, &:visited {
			text-decoration: none;
			color : @black;
		}
		&, &:active {
			outline : none;
		}
	}

}