.gallery-menu {
	lost-utility : clearfix;
	margin-bottom : 20px;

	&__link {
		lost-column : 1/2 2 20px;
		position : relative;
		margin-bottom : 20px;
		min-height : 154px;

		display: flex;
		align-items: center;
		justify-content: center;

		&, &:hover, &:active, &:visited {
			color : @white;
			text-decoration : none;
		}
	}

	&__pic {
		position : absolute;
		top : 0;
		left : 0;
	}

	&__label {
		padding : 0 15px;
		z-index : 9;
		text-align: center;
		width: 100%;
		color: white;
		font-size : 20px;
		line-height : 24px;
		font-weight : 500;
		text-shadow : 1px 1px 1px #747474;
	}
}