.gallery {
	&__large {
		img {
			width : 100%;
		}
	}

	&__previews {
		margin-top : 34px;
		lost-utility : clearfix;
	}
	&__preview {
		lost-column : 1/4 4 20px;
		margin-bottom : 20px;
		img {
			width : 100%;
		}
	}
	&__link {
		position : relative;
		display : inline-block;
		&--active {
			opacity : .44;
		}

		transition: all .3s ease-in-out;
		&:hover {
			transition: all .3s ease-in-out;
			transform: scale(1.1);
		}
	}

	&__thumb {}
	&__text {
		p:first-child {margin-top : 0;}
		.normal-paragraph();
	}
}
