.guarantee {
	.wrapper();

	&__icon {
		img {
			width: 170px;
			height: 160px;
		}

		width: 170px;
		height: 160px;
		margin-top: 20px;
		margin-right: 40px;

		float: left;
		margin-left : 10px;
	}

	&__text {
		float : left;
		font-size: 24px;
		line-height: 40px;
		margin-left : 60px;
		margin-top  : 20px;
		strong {
			background : @gray-bg;
			font-weight : 700;
			padding: 5px 20px 6px 20px;
			margin-left: -20px;
		}
	}
}