.news-issue {
	&__title {
		font-size : 22px;
		line-height : 34px;
		display : inline;
		margin-right: 16px;
		color : @black;
	}
	&__date {
		background : @yellow;
		display: inline-block;
		font-size: 14px;
		line-height: 14px;
		padding: 10px 14px 6px;
	}
	&__body {
		margin-top : 20px;
		img {
			margin-bottom : 20px;
		}
	}
	&__all-news {
		margin-top : 18px;
		.btn();
	}
}