.news-list {
	&__item {
		margin-bottom : 24px;
		&:last-child {
			margin-bottom : 0;
		}
		&:after {
			content : " ";
			background : url("@{public}img/news-divider.png") repeat-x;
			height : 5px;
			width : 100%;
			display : block;
			margin-top : 24px;
		}
	}
	&__title {
		font-size : 21px;
		line-height : 21px;
		display : inline-block;
		border-bottom : 1px solid @brown;

		&, &:hover, &:active, &:visited {
			text-decoration: none;
			color : @brown;
		}
	}
	&__date {
		background : @yellow;
		display: inline-block;
		font-size: 13px;
		line-height: 14px;
		padding: 10px 14px 6px;
		margin-left: 16px;
	}
	&__excerpt {
		font-size : 14px;
		line-height : 21px;
		padding-top : 12px;
		max-height : 72px;
		overflow-y : hidden;
	}
}