.news-col {
	lost-column : 1/2 0 0;
	&__heading {
		font-size : 28px;
		line-height : 32px;
		font-weight : 500;
		span {
			border-bottom : 1px solid @brown;
		}
		&, &:hover, &:active, &:visited {
			color : @brown;
			text-decoration : none;
		}
		&:hover {
			span { border : none; }
		}
	}
	&__list {
		margin-top : 26px;
		margin-bottom : 26px;
	}
	&__item {
		margin-bottom : 18px;
		&:last-child {
			margin-bottom : 0;
		}
	}
	&__title {
		font-size : 20px;
		line-height : 20px;
		display : inline-block;
		border-bottom : 1px solid @brown;

		&, &:hover, &:active, &:visited {
			text-decoration: none;
			color : @brown;
		}
	}
	&__date {
		background : @yellow;
		display: inline-block;
		font-size: 13px;
		line-height: 13px;
		padding: 10px 14px 6px;
		margin-left: 16px;
	}
	&__excerpt {
		font-size : 14px;
		line-height : 22px;
		padding-top : 4px;
		max-height : 52px;
		overflow-y : hidden;
	}
	&__more-link {
		.btn();
	}
}