.pagination {
	border : 1px solid #d3c9bf;
	border-radius : 3px;
	height : 44px;
	padding : 0 12px;
	margin-top : 28px;
	display : inline-block;

	&__arrow, &__dots {
		display : inline-block;
		height: 44px;
		min-width: 30px;
		line-height: 44px;
		font-size : 16px;
		font-weight : 500;
		text-align: center;
	}

	&__arrow {
		&, &:hover, &:active, &:visited {
			color : @brown;
			text-decoration : none;
		}
		&--prev {}
		&--next {  }
	}

	&__page {

		span {
			height : 44px;
			line-height : 44px;
			min-width : 30px;
			vertical-align : top;
			display : inline-block;
			font-size : 18px;
			font-weight : 500;
			text-align: center;
		}
		
		&, &:hover, &:visited, &:active {
			color : @black;
			text-decoration : none;	
		}
		&--active {
			&, &:hover, &:visited, &:active {
				color : @brown;
				text-decoration : none;	
			}
			span {
				margin-top : -1px;
				border-top : 1px solid @brown;
				border-bottom : 1px solid @brown;
			}
		}
	}

	&__dots {
		&, &:hover, &:active, &:visited {
			color : @black;
			text-decoration : none;
		}
	}
}