.portfolio-list {
	&__heading {
		font-size : 25px;
		font-weight : 500;
		margin-bottom : 28px;
	}
	&__item {
		&:after {
			content : " ";
			background : url("@{public}img/news-divider.png") repeat-x;
			height : 5px;
			width : 100%;
			display : block;
			margin-top : 25px;
		}

		margin-bottom : 24px;
		&:last-child {
			margin-bottom : 0;
		}
	}
	&__title {
		display : inline-block;
		font-size : 18px;
		font-weight : 500;
		margin-bottom : 24px;

		&, &:hover, &:active, &:visited {
			color : @black;
			text-decoration: none;
		}

		span {
			color : @black;
			border-bottom : 1px solid @brown;
		}
	}
	&__images {
		margin-bottom : 20px;
		lost-utility : clearfix;
	}
	&__image {
		lost-column : 1/3 3 20px;
		img {
			display : inline-block;
		}

		text-align : center;
		&:first-child {
			text-align : left;
		}
		&:last-child {
			text-align : right;
		}
	}
	&__text {
		font-size : 14px;
		line-height : 22px;
		span {
			.normal-paragraph();
			display : inline;
		}
	}
	&__more-link {
		display : inline;
		white-space: nowrap;
		&, &:hover, &:visited, &:active {
			color : @brown;
			text-decoration: underline;
		}
	}
}
