.services {
	lost-utility : clearfix;
	margin-bottom : 50px;

	&__col {
		lost-column : 1/3 3 20px;
	}
	&__pic {
		margin-bottom : 16px;
		img {
			width : 100%;
		}
	}
	&__title {
		font-size : 26px;
		line-height : 30px;
		font-weight : 500;
		span {
			border-bottom : 1px solid @brown;
		}
		&, &:hover, &:active, &:visited {
			color : @brown;
			text-decoration : none;
		}
		&:hover {
			span { border : none; }
		}
	}

	&__text {
		.normal-paragraph();
		p {
			padding-right : 10px;
			&:first-child {
				margin-top : 13px;
			}
		}
	}

	&__btn {
		margin-top : 30px;
		.btn();
	}

}