.sidebar-square-btn {
    width: 150px;
    height : auto;
    display: inline-block;
    margin-bottom : 20px;
    text-align : center;
    text-decoration: none;
    padding-top : 20px;
    padding-bottom : 20px;

    span {
		font-weight : 500;
		font-size : 14px;
		color : @brown;
        display : block;
        text-decoration: underline;
    }

    &.active {
        border : 1px solid #dea48b;
        border-radius : 2px;
        position : relative;

        span {
            text-decoration: none;
        }

        &:before {
            content : '';
            background : url('@{public}img/sidebar-square-btn-corner.png');
            width : 6px;
            height : 12px;

            position : absolute;
            top : 50%;
            left : -6px;
            margin-top : -6px;
        }
    }


    em {
        display : inline-block;
        margin-bottom : 2px;
    }

    &.special {
    	em {
    		background : url('@{public}img/right-sidebar/special.png');
      		width : 126px;
    		height : 101px;
    	}
    }
    &.guarantee {
    	em {
    		background : url('@{public}img/right-sidebar/three.png');
       		width : 113px;
    		height : 113px;
    	}
    }
    &.calculator {
    	em {
    		background : url('@{public}img/right-sidebar/calc.png');
    		width : 92px;
    		height : 97px;
    	}
    }
    &.ecommerce {
        em {
            background : url('@{public}img/right-sidebar/ecommerce.png');
            width : 110px;
            height : 96px;
        }
    }
    &.jobs {
    	em {
    		background : url('@{public}img/right-sidebar/job.png');
    		width : 102px;
    		height : 111px;
    	}
    }

    &--active {
        border-color : @black;
        span {
            color : @black;
            text-decoration: none;
        }
    }
}