.sidebar-left {

    width: 230px;
    float: left;
    padding-right : 28px;

    .normal-paragraph();

	h1 {
		color : @brown;
		font-size : 22px;
		font-weight : 500;
		margin-bottom : 18px;
		margin-top : 0;
	}
}
.brown-list {

	padding-left: 0;
	list-style-type: none;
	margin-left: 24px;

	&__link {
		&, &:hover, &:active, &:visited {
			color : @brown;
			text-decoration: none;
		}
	}

	&__item {
		color : @brown;
		padding-bottom : 8px;
		position: relative;
		text-decoration: underline;

		.normal-paragraph();
		line-height : 19px;

		&.active {
			font-weight : 700;
			text-decoration: none;
		}

		&:before {
			content: "—";
		    color: @brown;
		    margin-right: 8px;
		    position: absolute;
		    left: -24px;
		}
	}
}