<script src="<?= publicdir('vendor/jquery.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.slick.js') ?>"></script>
<script type="text/javascript">
$(function(){

	var configureViewport = function (){
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
			var ww = ( $(window).width() < window.screen.width ) 
				   ? $(window).width() : window.screen.width; 
			var mw = 1024; // min width of site
			var ratio =  ww / mw; //calculate ratio
			if( ww < mw) { //smaller than minimum size
				$('#Viewport').attr('content', 'initial-scale=' + ratio + ', maximum-scale=' + 1 + ', minimum-scale=' + ratio + ', user-scalable=yes, width=' + ww);
			} else { //regular size
				$('#Viewport').attr('content', 'initial-scale=1.0, maximum-scale=2, minimum-scale=1.0, user-scalable=yes, width=' + ww);
			}
		}	
	}

	configureViewport();

	window.addEventListener("orientationchange", function() {
		// Announce the new orientation number
		configureViewport();
	}, false);

});
</script>
<script src="<?= publicdir('js/main.js') ?>"></script>

