<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="<?= publicdir('vendor/jquery.slick.css') ?>">

<link rel="stylesheet" href="<?= publicdir('css/styles.css') ?>">
<link rel="stylesheet" href="<?= publicdir('css/after.css') ?>">
