<div class="footer container" id="footer">
    <div class="wrapper">
		<div class="footer__menus">

			<div class="footer__menu footermenu">
				<a href="#" class="footermenu__title"><span>Дизайн интерьера</span></a>
				<a href="#" class="footermenu__link"><span>Что это такое</span></a>
				<a href="#" class="footermenu__link"><span>Стили интерьера</span></a>
				<a href="#" class="footermenu__link"><span>Этапы проектирования</span></a>
				<a href="#" class="footermenu__link"><span>Независимый аудит</span></a>
				<a href="#" class="footermenu__link"><span>Декорация интерьера</span></a>
				<a href="#" class="footermenu__link"><span>Варианты дизайна</span></a>
				<a href="#" class="footermenu__link"><span>Цены на дизайн</span></a>
				<a href="#" class="footermenu__link"><span>Договор на дизайн</span></a>
				<a href="#" class="footermenu__link"><span>IP дизайн</span></a>
				<a href="#" class="footermenu__link"><span>Выбрать дизайнера</span></a>
				<a href="#" class="footermenu__link"><span>Примеры работ</span></a>
			</div>

			<div class="footer__menu footermenu">
				<a href="#" class="footermenu__title"><span>Ремонт и отделка</span></a>
				<a href="#" class="footermenu__link"><span>Ремонт и отделка квартир</span></a>
				<a href="#" class="footermenu__link"><span>Ремонт загородных домов</span></a>
				<a href="#" class="footermenu__link"><span>Ремонт офисов</span></a>
				<a href="#" class="footermenu__link"><span>Черновые материалы</span></a>
				<a href="#" class="footermenu__link"><span>Отделочные материалы и оборудование</span></a>
				<a href="#" class="footermenu__link"><span>Гарантия</span></a>
				<a href="#" class="footermenu__link"><span>Порядок работ</span></a>
				<a href="#" class="footermenu__link"><span>Прайс-лист на работы</span></a>
				<a href="#" class="footermenu__link"><span>Договор на ремонт</span></a>
				<a href="#" class="footermenu__link"><span>VIP ремонт</span></a>
				<a href="#" class="footermenu__link"><span>Примеры работ</span></a>
			</div>

			<div class="footer__menu footermenu">
				<a href="#" class="footermenu__title"><span>Строительство</span></a>
				<a href="#" class="footermenu__link"><span>Ремонт и отделка квартир</span></a>
				<a href="#" class="footermenu__link"><span>Ремонт загородных домов</span></a>
				<a href="#" class="footermenu__link"><span>Ремонт офисов</span></a>
				<a href="#" class="footermenu__link"><span>Черновые материалы</span></a>
				<a href="#" class="footermenu__link"><span>Гарантия</span></a>
				<a href="#" class="footermenu__link"><span>Порядок работ</span></a>
				<a href="#" class="footermenu__link"><span>Прайс-лист на работы</span></a>
				<a href="#" class="footermenu__link"><span>Договор на ремонт</span></a>
				<a href="#" class="footermenu__link"><span>VIP ремонт</span></a>
				<a href="#" class="footermenu__link"><span>Примеры работ</span></a>
			</div>

			<div class="footer__menu footermenu">
				<a href="#" class="footermenu__title"><span>Проектирование</span></a>
				<a href="#" class="footermenu__link"><span>Ремонт и отделка квартир</span></a>
				<a href="#" class="footermenu__link"><span>Ремонт загородных домов</span></a>
				<a href="#" class="footermenu__link"><span>Ремонт офисов</span></a>
				<a href="#" class="footermenu__link"><span>Черновые материалы</span></a>
				<a href="#" class="footermenu__link"><span>Гарантия</span></a>
				<a href="#" class="footermenu__link"><span>Порядок работ</span></a>
				<a href="#" class="footermenu__link"><span>Прайс-лист на работы</span></a>
				<a href="#" class="footermenu__link"><span>Договор на ремонт</span></a>
				<a href="#" class="footermenu__link"><span>VIP ремонт</span></a>
				<a href="#" class="footermenu__link"><span>Примеры работ</span></a>
			</div>

		</div>

		<div class="footer__copyright">&copy; 2015 ООО "ПРОСПЕКТ"</div>
		<div class="footer__phones">
			<div class="footer__phone">+7 (495) 748-95-26</div>
			<div class="footer__phone">+7 (925) 206-62-80</div>
		</div>
		<div class="footer__socials">
			<a target="_blank" href="https://www.facebook.com/%13%40C%3F%3F0-%1A%3E%3C%3F0%3D89-%1F%40%3EA%3F5%3AB-1557845351209303" class="footer__social footer__social--fb fa fa-facebook"></a>
			<a target="_blank" href="https://vk.com/club75758834" class="footer__social footer__social--vk fa fa-vk"></a>
			<a href="#" class="footer__social footer__social--ig fa fa-instagram"></a>
			<a href="#" class="footer__social footer__social--ok fa fa-odnoklassniki"></a>
		</div>
		<div class="footer__counter"><img src="<?= publicdir('img/counter-test.png') ?>"></div>
    </div><!-- .wrapper -->
</div><!-- .footer.container -->
