<div class="header container" id="header">
	<div class="wrapper">

		<a href="/?page=index">
			<div class="header__logo">
				<img src="<?= publicdir('img/logo.png') ?>" alt="ПРОСПЕКТ. ГРУППА КОМПАНИЙ">
			</div>
		</a>
		
		<?php $extra_class = "header__nav"; include "src/views/helpers/nav.phtml" ?>

		<div class="header__i18n">
			<a href="#" class="header__i18n-lang header__i18n-lang--rus active">RUS</a>
			<a href="#" class="header__i18n-lang header__i18n-lang--bel">BEL</a>
		</div>

		<div class="header__contacts">
			<div class="header__phone phone"><span class="phone__code">+7 (495)</span> 748-95-26</div>
			<div class="header__phone phone"><span class="phone__code">+7 (925)</span> 206-62-80</div>
			<div class="header__email"><a href="mailto:prospktr@gr.ru">prospektr@gr.ru</a></div>
		</div>

	</div><!-- .wrapper -->
</div><!-- .header.container -->
