<div id="nav" class="nav  <?= isset($extra_class) ? $extra_class : '' ?>">
	<ul class="nav__list nav__list--level0">
		<li class="nav__item"><a href="#" class="nav__link nav__link--has-submenu"><span>О нас</span></a>
			<ul class="nav__list nav__list--level1">
				<li class="nav__item"><a href="#">Монолитно-каркасное</a></li>
				<li class="nav__item"><a href="#">Строительство из кирпича </a></li>
				<li class="nav__item"><a href="#">Строительство из бруса</a></li>
				<li class="nav__item"><a href="#">Строительство беседок</a></li>
				<li class="nav__item"><a href="#">Строительство бань и саун</a></li>
				<li class="nav__item"><a href="#">Гарантия</a></li>
				<li class="nav__item"><a href="#">Цены на строительство </a></li>
				<li class="nav__item"><a href="#">Договор на строительство</a></li>
				<li class="nav__item"><a href="#">Примеры работ</a></li>
			</ul>
		</li>
		<li class="nav__item"><a href="/?page=design-interior" class="nav__link"><span>Дизайн интерьера</span></a></li>
		<li class="nav__item"><a href="/?page=repair" class="nav__link"><span>Ремонт и отделка</span></a></li>
		<li class="nav__item"><a href="/?page=construction" class="nav__link nav__link--has-submenu"><span>Строительство</span></a>
			<ul class="nav__list nav__list--level1">
				<li class="nav__item"><a href="#">Монолитно-каркасное</a></li>
				<li class="nav__item"><a href="#">Строительство из кирпича </a></li>
				<li class="nav__item"><a href="#">Строительство из бруса</a></li>
				<li class="nav__item"><a href="#">Строительство беседок</a></li>
				<li class="nav__item"><a href="#">Строительство бань и саун</a></li>
				<li class="nav__item"><a href="#">Гарантия</a></li>
				<li class="nav__item"><a href="#">Цены на строительство </a></li>
				<li class="nav__item"><a href="#">Договор на строительство</a></li>
				<li class="nav__item"><a href="#">Примеры работ</a></li>
			</ul>
		</li>

		<li class="nav__item"><a href="#" class="nav__link nav__link--has-submenu"><span>Сопутствующие услуги</span></a>
			<ul class="nav__list nav__list--level1">
				<li class="nav__item"><a href="#">Монолитно-каркасное</a></li>
				<li class="nav__item"><a href="#">Строительство из кирпича </a></li>
				<li class="nav__item"><a href="#">Строительство из бруса</a></li>
				<li class="nav__item"><a href="#">Строительство беседок</a></li>
				<li class="nav__item"><a href="#">Строительство бань и саун</a></li>
				<li class="nav__item"><a href="#">Гарантия</a></li>
				<li class="nav__item"><a href="#">Цены на строительство </a></li>
				<li class="nav__item"><a href="#">Договор на строительство</a></li>
				<li class="nav__item"><a href="#">Примеры работ</a></li>
			</ul>
		</li>
		<li class="nav__item"><a href="/?page=portfolio" class="nav__link"><span>Примеры работ</span></a></li>
		<li class="nav__item"><a href="#" class="nav__link"><span>Контакты</span></a></li>
	</ul>
</div><!-- .nav -->
<?php $extra_class = false; ?>