<div class="sidebar-right">
	<a href="#" class="sidebar-square-btn special active"><em></em><span>Спец-<br>предложения</span></a>
	<a href="#" class="sidebar-square-btn guarantee"><em></em><span>года<br>гарантии</span></a>
	<a href="/?page=calculator" class="sidebar-square-btn calculator"><em></em><span>Калькулятор<br>ремонта</span></a>
	<a href="#" class="sidebar-square-btn ecommerce"><em></em><span>Интернет-магазин<br>стройматериалов</span></a>
	<a href="#" class="sidebar-square-btn jobs"><em></em><span>Работа у нас</span></a>
</div>