<div class="sidebar-left">
	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central typography">

	<div class="calculator">
		<div class="calculator__title h1">Калькулятор ремонта</div>
		<form class="calculator__form">
			<div class="calculator__input-wrapper calculator__input-wrapper--w1">
				<label class="calculator__label">Площадь<br>помещения, м<sup>2</sup></label>
				<input type="text" value="100" class="calculator__input calculator__input--text calc-input-square">
			</div>

			<div class="calculator__input-wrapper calculator__input-wrapper--w2">
				<label class="calculator__label">Высота<br>потолков, м</label>
				<input type="text" value="2.7" class="calculator__input calculator__input--text calc-input-height">
			</div>

			<div class="calculator__input-wrapper">
				<label class="calculator__label">Уровень ремонта</label>
				<div class="calculator__select-wrapper">
				<select class="calculator__input calculator__input--select calc-input-level">
					<option value="1">Стандарт</option>
					<option value="1.2">Бизнес</option>
					<option value="1.4">Элитный</option>
					<option value="2.5">Luxury</option>
				</select>
				</div>
			</div>

			<div class="calculator__input-wrapper">
				<label class="calculator__label">Тип помещения</label>
				<div class="calculator__select-wrapper">
				<select class="calculator__input calculator__input--select calc-input-type">
					<option value="1">Новостройка</option>
					<option value="0.9">Коттедж</option>
					<option value="0.8">Офис</option>
					<option value="1.2">Вторичное жильё</option>
				</select>
				</div>
			</div>

			<div class="calculator__input-wrapper">
				<label class="calculator__label">Расположения объекта</label>
				<div class="calculator__select-wrapper">
				<select class="calculator__input calculator__input--select calc-input-location">
					<option value="1">В пределах МКАД</option>
					<option value="1.1">В пределах ММК</option>
					<option value="1.2">После ММК</option>
				</select>
				</div>
			</div>

			<div class="calculator__input-wrapper">
				<input type="button" value="Показать результаты" class="calculator__submit">
			</div>
		</form>

		<div class="calculator__results">
			<h3 class="results-header">Результаты калькуляции:</h3>
			<table class="calc-type">
				<tr>
					<td>Стоимость работ, за м2</td><td class="val-price1"><strong class="brown"></strong></td>
				</tr>
				<tr>
					<td>Стоимость расходных материалов, за м2</td><td class="val-price2"><strong class="brown"></strong></td>
				</tr>
				<tr>
					<td>Стоимость черновых материалов, за м2</td><td class="val-price3"><strong class="brown"></strong></td>
				</tr>
				<tr>
					<td>Стоимость проекта, за м2</td><td class="val-price4"><strong class="brown"></strong></td>
				</tr>
				<tr>
					<td><strong>Обшая стоимость работ</strong></td><td class="val-price5"><strong class="brown"></strong></td>
				</tr>
				<tr>
					<td><strong>Обшая стоимость черновых материалов</strong></td><td class="val-price6"><strong class="brown"></strong></td>
				</tr>
				<tr class="highlight">
					<td><strong>Обшая стоимость</strong></td><td class="val-price7"><strong class="brown"></strong></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>