<div class="sidebar-left">
	<h1>Строительство</h1>
	<ul class="brown-list">
		<a href="#" class="brown-list__link"><li class="brown-list__item">Монолитно-каркасное</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Строительство из кирпича</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Строительство из бруса</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Строительство беседок</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Строительство бань и саун</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Гарантия</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Цены на строительство</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Договор на строительство</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Примеры работ</li></a>
	</ul>

	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central typography">
	<div class="gallery-menu">

		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.monolith.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Монолитно-каркасное</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.bricks.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Строительство<br>из кирпича</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.wood.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Строительство<br>из бруса</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.chat-houses.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Строительство<br>беседок</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.saunas.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Строительство бань<br>и саун</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.construction-guarantee.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Гарантия</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.construction-prices.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Цены<br>на строительство</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.construction-contract.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Договор<br>на строительство</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.construction-examples.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Примеры работ</span>
		</a>
	</div>
</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>