<div class="sidebar-left">
	<h1>Дизайн интерьера</h1>
	<ul class="brown-list">
		<a href="#" class="brown-list__link"><li class="brown-list__item">Что это такое</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Стили интерьера</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Этапы проектирования</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Независимый аудит</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Декорация интерьера</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Варианты дизайна</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Цены на дизайн</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Договор на дизайн</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">VIP дизайн</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Выбрать дизайнера</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Примеры работ</li></a>
	</ul>

	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central typography">
	<div class="gallery-menu">
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.what.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Что это такое</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.styles.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Стили интерьера</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.steps.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Этапы проектирования</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.audit.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Независимый аудит</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.decoration.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Декорация интерьера</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.variants.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Варианты дизайна</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.prices.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Цены на дизайн</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.vip.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">VIP дизайн</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.choose.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Выбрать дизайнера</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.dogovor.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Договор на дизайн</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.examples.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Примеры работ</span>
		</a>
	</div>
</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>