<div class="sidebar-left">
	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central typography">

	<div class="news-issue">

		<div class="news-issue__title">Группа компаний «Проспект»,
		на протяжении семи лет занимается
		строительством</div>

		<div class="news-issue__date">22 июн 2015</div>
		<div class="news-issue__body">
			<img src="<?= publicdir('img/pic1.jpg') ?>">
			<p>Группа компаний «Проспект», на протяжении семи лет занимается строительством в  Москве и Подмосковье. У нас всегда можно заказать строительство зданий любой  степени сложности. Мы не только проектируем и строим. Имея дилерские условия с  производителями, среди которых выделяются:</p>

			<p>Ведём проекты «Загородный дом под ключ» со всем спектром услуг:
			Проектировка, ландшафтный дизайн, подключение всех коммуникаций. Ежедневно контролируем,
			в три этапа, работу <a href="#">по текущим договорам</a>, поддерживая на 
			высоком уровне качество нашей работы.</p>

			<p>Осуществляем: контроль прораба, контроль  дизайнера, контроль главного инженера. Это позволяет нам контролировать  ПОСТОЯННОЕ высокое Уютное, комфортное, строится как по индивидуальному</p>
		</div>

	</div>
	<a href="/?page=news" class="news-issue__all-news">Смотреть все новости</a>
</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>