<div class="sidebar-left">
	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central">
	<h1>Новости</h1>

	<div class="news-list">

		<div class="news-list__item">
			<a href="/?page=news-page" class="news-list__title">Работы по обустройству коттеджей</a>
			<div class="news-list__date">22 июн 2015</div>
			<div class="news-list__excerpt">Дизайн интерьера дома – это высокое искусство и точная наука одновременно. Грамотно организовать жилое пространство и сделать его удобным для всех членов семьи; 
			добиться гармонии форм...</div>
		</div>

		<div class="news-list__item">
			<a href="/?page=news-page" class="news-list__title">Группа компаний «Проспект»</a>
			<div class="news-list__date">11 мая 2015</div>
			<div class="news-list__excerpt">ля блочных и кирпичных зданий – ручная кладка несущих стен. 
			Часто используется системы полнокомплектных (быстро  возводимых) зданий из металлоконструкций; монолитная, и  сборно-монолитная...</div>
		</div>

		<div class="news-list__item">
			<a href="/?page=news-page" class="news-list__title">Работы по обустройству коттеджей</a>
			<div class="news-list__date">22 июн 2015</div>
			<div class="news-list__excerpt">Дизайн интерьера дома – это высокое искусство и точная наука одновременно. Грамотно организовать жилое пространство и сделать его удобным для всех членов семьи; 
			добиться гармонии форм...</div>
		</div>

		<div class="news-list__item">
			<a href="/?page=news-page" class="news-list__title">Группа компаний «Проспект»</a>
			<div class="news-list__date">11 мая 2015</div>
			<div class="news-list__excerpt">ля блочных и кирпичных зданий – ручная кладка несущих стен. 
			Часто используется системы полнокомплектных (быстро  возводимых) зданий из металлоконструкций; монолитная, и  сборно-монолитная...</div>
		</div>

		<div class="news-list__item">
			<a href="/?page=news-page" class="news-list__title">Работы по обустройству коттеджей</a>
			<div class="news-list__date">22 июн 2015</div>
			<div class="news-list__excerpt">Дизайн интерьера дома – это высокое искусство и точная наука одновременно. Грамотно организовать жилое пространство и сделать его удобным для всех членов семьи; 
			добиться гармонии форм...</div>
		</div>

		<div class="news-list__item">
			<a href="/?page=news-page" class="news-list__title">Группа компаний «Проспект»</a>
			<div class="news-list__date">11 мая 2015</div>
			<div class="news-list__excerpt">ля блочных и кирпичных зданий – ручная кладка несущих стен. 
			Часто используется системы полнокомплектных (быстро  возводимых) зданий из металлоконструкций; монолитная, и  сборно-монолитная...</div>
		</div>

		<div class="news-list__item">
			<a href="/?page=news-page" class="news-list__title">Работы по обустройству коттеджей</a>
			<div class="news-list__date">22 июн 2015</div>
			<div class="news-list__excerpt">Дизайн интерьера дома – это высокое искусство и точная наука одновременно. Грамотно организовать жилое пространство и сделать его удобным для всех членов семьи; 
			добиться гармонии форм...</div>
		</div>

		<div class="news-list__item">
			<a href="/?page=news-page" class="news-list__title">Группа компаний «Проспект»</a>
			<div class="news-list__date">11 мая 2015</div>
			<div class="news-list__excerpt">ля блочных и кирпичных зданий – ручная кладка несущих стен. 
			Часто используется системы полнокомплектных (быстро  возводимых) зданий из металлоконструкций; монолитная, и  сборно-монолитная...</div>
		</div>

	</div>
	<?php include "src/views/blocks/pagination.phtml" ?>
</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>