<div class="sidebar-left">
	<h1>Портфолио</h1>
	<ul class="brown-list">
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item active">Дизайн-проекты</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Ремонт и отделка</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Строительство</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Инженерные проекты</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Архитектурные проекты</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Ландшафтные работы</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Готовые объекты</li></a>
	</ul>

	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central typography">

	<div class="portfolio-list">
		<div class="portfolio-list__heading">Дизайн-проекты</div>

		<div class="portfolio-list__item">
			<a href="/?page=portfolio-gallery" class="portfolio-list__title"><span>Спальня в стиле лофт</span></a>
			<div class="portfolio-list__images">
				<div class="portfolio-list__image"><img src="<?= publicdir('img/portfolio-1-1.png') ?>"></div>
				<div class="portfolio-list__image"><img src="<?= publicdir('img/portfolio-1-2.png') ?>"></div>
				<div class="portfolio-list__image"><img src="<?= publicdir('img/portfolio-1-3.png') ?>"></div>
			</div>
			<div class="portfolio-list__text">
				<span>Рыбы — надкласс (в соответствии с современными принципами кладистики — парафилетическая группа) водных позвоночных животных. Обширная группа челюстноротых, для которых характерно жаберное дыхание на всех этапах постэмбрионального...</span>
				<a href="/?page=portfolio-gallery" class="portfolio-list__more-link">Смотреть подробнее</a>
			</div>
		</div>

		<div class="portfolio-list__item">
			<a href="/?page=portfolio-gallery" class="portfolio-list__title"><span>Дизайн современной спальни</span></a>
			<div class="portfolio-list__images">
				<div class="portfolio-list__image"><img src="<?= publicdir('img/portfolio-2-1.png') ?>"></div>
				<div class="portfolio-list__image"><img src="<?= publicdir('img/portfolio-2-2.png') ?>"></div>
				<div class="portfolio-list__image"><img src="<?= publicdir('img/portfolio-2-3.png') ?>"></div>
			</div>
			<div class="portfolio-list__text">
				<span>Рыбы — надкласс (в соответствии с современными принципами кладистики — парафилетическая группа) водных позвоночных животных. Обширная группа челюстноротых, для которых характерно жаберное дыхание на всех этапах постэмбрионального...</span>
				<a href="/?page=portfolio-gallery" class="portfolio-list__more-link">Смотреть подробнее</a>
			</div>
		</div>

		<div class="portfolio-list__item">
			<a href="/?page=portfolio-gallery" class="portfolio-list__title"><span>Спальня в стиле лофт</span></a>
			<div class="portfolio-list__images">
				<div class="portfolio-list__image"><img src="<?= publicdir('img/portfolio-1-1.png') ?>"></div>
				<div class="portfolio-list__image"><img src="<?= publicdir('img/portfolio-1-2.png') ?>"></div>
				<div class="portfolio-list__image"><img src="<?= publicdir('img/portfolio-1-3.png') ?>"></div>
			</div>
			<div class="portfolio-list__text">
				<span>Рыбы — надкласс (в соответствии с современными принципами кладистики — парафилетическая группа) водных позвоночных животных. Обширная группа челюстноротых, для которых характерно жаберное дыхание на всех этапах постэмбрионального...</span>
				<a href="/?page=portfolio-gallery" class="portfolio-list__more-link">Смотреть подробнее</a>
			</div>
		</div>

	</div>


</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>