<div class="sidebar-left">
	<h1>Портфолио</h1>
	<ul class="brown-list">
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item active">Дизайн-проекты</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Ремонт и отделка</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Строительство</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Инженерные проекты</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Архитектурные проекты</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Ландшафтные работы</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Готовые объекты</li></a>
	</ul>

	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central typography">
	<div class="gallery-menu">

		<a href="/?page=portfolio-cat" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.portfolio-design.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Дизайн-проекты</span>
		</a>
		<a href="/?page=portfolio-cat" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.portfolio-repair.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Ремонт и отделка</span>
		</a>
		<a href="/?page=portfolio-cat" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.portfolio-construction.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Строительство</span>
		</a>
		<a href="/?page=portfolio-cat" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.portfolio-engineering.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Инженерные проекты</span>
		</a>
		<a href="/?page=portfolio-cat" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.portfolio-architecture.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Архитектурные<br>проекты</span>
		</a>

		<a href="/?page=portfolio-cat" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.portfolio-landscape.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Ландшафтные<br>работы</span>
		</a>
		<a href="/?page=portfolio-cat" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.portfolio-ready.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Готовые объекты</span>
		</a>
	</div>
</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>