<div class="sidebar-left">
	<h1>Портфолио</h1>
	<ul class="brown-list">
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item active">Дизайн-проекты</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Ремонт и отделка</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Строительство</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Инженерные проекты</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Архитектурные проекты</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Ландшафтные работы</li></a>
		<a href="/?page=portfolio-cat" class="brown-list__link"><li class="brown-list__item">Готовые объекты</li></a>
	</ul>

	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central">

	<div class="gallery" id="gallery">
		<div class="gallery__large">
			<img src="<?= publicdir('img/gallery/01.png') ?>">
		</div>

		<div class="gallery__previews">
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/01.png') ?>" class="gallery__link gallery__link--active">
			<img class="gallery__thumb" src="<?= publicdir('img/gallery/01-preview.png') ?>">
		</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/02.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/02-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/03.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/03-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/04.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/04-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/05.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/05-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/06.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/06-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/07.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/07-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/08.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/08-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/09.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/09-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/10.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/10-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/11.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/11-preview.png') ?>">
			</a></div>
			<div class="gallery__preview"><a href="<?= publicdir('img/gallery/12.png') ?>" class="gallery__link">
				<img class="gallery__thumb" src="<?= publicdir('img/gallery/12-preview.png') ?>">
			</a></div>
		</div>

		<div class="gallery__text">
			<p>Рыбы — надкласс (в соответствии с современными принципами кладистики — парафилетическая группа) водных позвоночных животных. Обширная группа челюстноротых, для которых характерно жаберное дыхание на всех этапах постэмбрионального.</p>
			<p>За редкими исключениями, внешние покровы рыб представлены кожей с чешуёй (у некоторых рыб чешуя отсутствует). Как и у всех других позвоночных, кожа рыб делится на дерму и эпидермис (верхний слой кожи эктодермального происхождения, состоящий.</p>		
		</div>
	</div>

</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>