<div class="sidebar-left">
	<h1>Ремонт и отделка</h1>
	<ul class="brown-list">
		<a href="#" class="brown-list__link"><li class="brown-list__item">Ремонт и отделка квартир</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Ремонт загородных домов</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Ремонт офисов</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Черновые материталы</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Отделочные материалы и оборудование</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Гарантия</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Порядок работ</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Прайс-лист на работы</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Договор на ремонт</li></a>
	</ul>

	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central typography">
	<div class="gallery-menu">

		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.repair-flats.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Ремонт и отделка<br> квартир</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.repair-houses.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Ремонт загородных<br> домов</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.repair-offices.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Ремонт офисов</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.raw-materials.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Черновые материталы</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.repair-materials.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Отделочные <br>материалы и оборудование</span>
		</a>

		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.guarantee.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Гарантия</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.order.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Порядок работ</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.price-list.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Прайс-лист на работы</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.repair-license.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Договор на ремонт</span>
		</a>
	</div>
</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>