<div class="sidebar-left">
	<h1>Сопутствующие услуги</h1>
	<ul class="brown-list">
		<a href="#" class="brown-list__link"><li class="brown-list__item">Архитектура</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Ландшафтный дизайн</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Проектирование</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Инженерные коммуникации</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Согласование перепланировки</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Комплектация объектов</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Независимый технический надзор</li></a>
		<a href="#" class="brown-list__link"><li class="brown-list__item">Фэн-шуй</li></a>
	</ul>

	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central typography">
	<div class="gallery-menu">

		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.architecture.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Архитектура</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.landscape.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Ландшафтный дизайн</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.developing.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Проектирование</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.communications.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Инженерные коммуникации</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.replanning.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Согласование перепланировки</span>
		</a>

		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.objects.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Комплектация объектов</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.nadzor.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Независимый технический надзор</span>
		</a>
		<a href="#" class="gallery-menu__link">
			<img src="<?= publicdir('img/teasers/teaser.fanshui.png') ?>" class="gallery-menu__pic">
			<span class="gallery-menu__label">Фэн-шуй</span>
		</a>
	</div>
</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>
<?php include "src/views/blocks/breadcrumbs.phtml" ?>