<div class="sidebar-left">
	<p>Треугольник Рёло
	представляет собой область пересечения трёх равных кругов с центрами в вершин
	правильного треугольника
	и радиусами, равными
	его стороне.</p>

	<p>Негладкая замкнутая кривая, ограничивающая эту
	фигуру, также называется
	треугольником Рёло.</p>
</div>
<div class="central typography">
	<h1>Заголовок 1</h1>
	<img src="<?= publicdir('img/pic1.jpg') ?>">
	<h2>Заголовок H2</h2>
	<p>Группа компаний «Проспект», на протяжении семи лет занимается строительством в  Москве и Подмосковье. У нас всегда можно заказать строительство зданий любой  степени сложности. Мы не только проектири строим. Имея дилерские условия с  производителями, среди которых выделяются:</p>

	<h3>Заголовок H3</h3>

	<p>Ведём проекты «Загородный дом под ключ» со всем спектром услуг:
	Проектировка, ландшафтный дизайн, подключение всех коммуникаций. Ежедневно контролируем,
	в три этапа, работу по текущим договорам, поддерживая на  высоком уровне качество нашей работы.</p>

	<h3>Заголовок 3</h3>
	<ul>
		<li>Более половины всех живущих ныне видов позвоночных, а 
			<ul>
				<li>Согласно базе данных FishBase, около 31 тысячи видов,</li>
				<li>Согласно базе данных FishBase, около 31 тысячи видов,</li>
			</ul>
        </li>
		<li>Число признанных видов продолжает меняться вследствие</li>
		<li>Открытий новых видов, а также таксономических ревизий</li>
		<li>Ныне живущие рыбы представлены тремя классами:</li>
	</ul>   

	<h3>Заголовок 3</h3>
	<ol>
		<li>Более половины всех живущих ныне видов позвоночных, а 
			<ol>
				<li>Согласно базе данных FishBase, около 31 тысячи видов,</li>
				<li>Согласно базе данных FishBase, около 31 тысячи видов,</li>
			</ol>
        </li>
		<li>Число признанных видов продолжает меняться вследствие</li>
		<li>Открытий новых видов, а также таксономических ревизий</li>
		<li>Ныне живущие рыбы представлены тремя классами:</li>
	</ol> 

	<h3>Пример таблицы</h3>
	<table>
		<thead><tr><th>Название</th><th>Цена</th></tr></thead>
		<tbody>
			<tr>
				<td>Стоимость работ, за м2</td><td><strong class="brown">1000 руб.</strong></td>
			</tr>
			<tr>
				<td>Стоимость расходных материалов, за м2</td><td><strong class="brown">100 руб.</strong></td>
			</tr>
			<tr>
				<td>Стоимость черновых материалов, за м2</td><td><strong class="brown">10 руб.</strong></td>
			</tr>
			<tr>
				<td>Стоимость проекта, за м2</td><td><strong class="brown">800 руб.</strong></td>
			</tr>
			<tr>
				<td><strong>Обшая стоимость работ</strong></td><td><strong class="brown">600 руб.</strong></td>
			</tr>
			<tr>
				<td><strong>Обшая стоимость</strong></td><td><strong class="brown">100 руб.</strong></td>
			</tr>
	</table>
	<img src="<?= publicdir('img/pic2.jpg') ?>" title="Дизайн интерьера, сделанный нами в 2014 году">

</div>

<?php include "src/views/helpers/sidebar-right.phtml" ?>