<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>

<link rel="apple-touch-icon" href="<?= publicdir('apple-icon.png') ?>">
<link rel="shortcut icon" href="<?= publicdir('favicon.ico') ?>">
<link rel="icon" type="image/png" href="<?= publicdir('favicon.png') ?>">

<?php include "helpers/meta.phtml" ?>
<?php include "helpers/assets-css.phtml" ?>

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="<?= publicdir("js/vendor/html5shiv.min.js") ?>"><\/script>')</script>
<![endif]-->
</head>
<body class="index">
    <div class="layout-wrapper">
        <!--[if lt IE 8]>
            <p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a> для лучшей навигации по интернету.</p>
        <![endif]-->

        <header class="layout-header">
            <?php include "helpers/header.phtml" ?>
        </header><!-- .layout-header -->

        <main class="layout-main">
            <?php include "pages/index.phtml" ?>
        </main><!-- .layout-main -->

        <footer class="layout-footer">
            <?php include "helpers/footer.phtml" ?>
        </footer><!-- .layout-footer -->

    </div><!-- .layout-wrapper -->

    <?php include "helpers/assets-js.phtml" ?>
</body>
</html>
