<div class="about-col <?= isset($extra_class) ? $extra_class : '' ?>">
	<a href="#" class="about-col__title"><span>О компании</span></a>
	<div class="about-col__text">
		<p>Группа Компаний ПРОСПЕКТ - на рынке загородной недвижимости с 10-летним стажем. Приоритетным направлением деятельности компании является строительство загородных домов. Начиная с 2000 года</p>

		<p>Группа Компаний ПРОСПЕКТ осуществляет строительство коттеджей под ключ. Сегодня
		МЫ занимаем ведущее место среди строительных фирм, выступая в качестве генподрядчика, генпроектировщика, заказчика, подрядчика и выполняем полный комплекс работ, начиная от подготовки документации и согласования
		до интерьерной отделки здания.</p>
	</div>
	<a href="#" class="about-col__more-link">Подробнее</a>
</div>
<?php $extra_class = false; ?>