<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link"><span>Главная</span></a>
	<a href="#" class="breadcrumbs__link"><span>Тестовая</span></a>
	<a class="breadcrumbs__link breadcrumbs__link--active"><span>Новости</span></a>
</div>