<div class="examples">
	<div class="examples__title"><a href="#"><span>Примеры работ</span></a>
		<div class="examples__arrows">
			<a href="#" class="examples__arrow examples__arrow--left">&lt;</a>
			<a href="#" class="examples__arrow examples__arrow--right">&gt;</a>
		</div>
	</div>

	<a href="#" class="examples__arrow-lg examples__arrow-lg--left"></a>
	<a href="#" class="examples__arrow-lg examples__arrow-lg--right"></a>

	<div class="examples__wrapper">
		<div class="examples__item">
			<div class="examples__pic"><img src="<?= publicdir('img/examples-1.png') ?>"></div>
			<a href="#" class="examples__link">Очень очаровательный дом площадью 800 м<sup>2</sup></a>
		</div>
		<div class="examples__item">
			<div class="examples__pic"><img src="<?= publicdir('img/examples-2.png') ?>"></div>
			<a href="#" class="examples__link">Хороший дом на века площадью 1900м<sup>2</sup></a>
		</div>
		<div class="examples__item">
			<div class="examples__pic"><img src="<?= publicdir('img/examples-3.png') ?>"></div>
			<a href="#" class="examples__link">Дом площадью 800 м<sup>2</sup></a>
		</div>
		<div class="examples__item">
			<div class="examples__pic"><img src="<?= publicdir('img/examples-3.png') ?>"></div>
			<a href="#" class="examples__link">Дом площадью 300 м<sup>2</sup></a>
		</div>
	</div>
</div>