<div class="guarantee">
	<div class="guarantee__icon"><img src="<?= publicdir('img/medal-new.png') ?>"></div>
	<div class="guarantee__text">
		На сегодняшний день ГК Проспект<br>
		представляет в своём портфеле<br>
		<strong>более 20 проектов полного цикла!</strong>
	</div>
</div>