<div class="news-col <?= isset($extra_class) ? $extra_class : '' ?>">
	<a href="#" class="news-col__heading"><span>Новости</span></a>
	<div class="news-col__list">
		<div class="news-col__item">
			<a href="/?page=news-page" class="news-col__title">Профилированный брус</a>
			<div class="news-col__date">22 июн 2015</div>
			<div class="news-col__excerpt">Группа Компаний ПРОСПЕКТ - на рынке загородной 
			недвижимости с 10-летним стажем. Приорит...</div>
		</div>
		<div class="news-col__item">
			<a href="/?page=news-page" class="news-col__title">Каркасные дома</a>
			<div class="news-col__date">18 авг 2015</div>
			<div class="news-col__excerpt">Группа Компаний ПРОСПЕКТ - на рынке загородной 
			недвижимости с 10-летним стажем. Приорит...</div>
		</div>
		<div class="news-col__item">
			<a href="/?page=news-page" class="news-col__title">Дома из кирпича</a>
			<div class="news-col__date">11 сен 2015</div>
			<div class="news-col__excerpt">Группа Компаний ПРОСПЕКТ - на рынке загородной 
			недвижимости с 10-летним стажем. Приорит...</div>
		</div>
	</div>
	<a href="/?page=news" class="news-col__more-link">Все новости</a>
</div>
<?php $extra_class = false; ?>