<div class="pagination">
	<a href="#" class="pagination__arrow pagination__arrow--prev">&lt;</a>
	<a href="#" class="pagination__page"><span>1</span></a>
	<a href="#" class="pagination__page pagination__page--active"><span>2</span></a>
	<a href="#" class="pagination__page"><span>3</span></a>
	<a href="#" class="pagination__page"><span>4</span></a>
	<a href="#" class="pagination__page"><span>5</span></a>
	<a href="#" class="pagination__page"><span>6</span></a>
	<a href="#" class="pagination__page"><span>7</span></a>
	<a href="#" class="pagination__page"><span>8</span></a>
	<a href="#" class="pagination__page"><span>9</span></a>
	<a class="pagination__dots">...</a>
	<a href="#" class="pagination__page"><span>123</span></a>
	<a href="#" class="pagination__arrow pagination__arrow--next">&gt;</a>
</div>