<div class="services wrapper">
	<div class="services__col">
		<div class="services__pic"><img src="<?= publicdir('img/services-1.png') ?>"></div>
		<a href="/?page=design-interior" class="services__title"><span>Дизайн</span></a>
		<div class="services__text">
			<p>Дизайн интерьера дома – это высокое искусство и точная наука одновременно.</p>

			<p>Грамотно организовать жилое пространство и сделать его удобным
			для всех членов семьи; добиться гармонии форм, пропорций
			и цвета могут только настоящие профессионалы.</p> 

			<p>Наша компания предоставляет услуги по дизайн роектированию интерьера частного дома или коттеджа
			в Москве уже более 10 лет. В нашем портфолио представлены объекты самого разного назначения:
			от небольших квартир до роскошных загородных особняков.</p>
		</div>
		<a href="#" class="services__btn">Подробнее</a>
	</div>
	<div class="services__col">
		<div class="services__pic"><img src="<?= publicdir('img/services-2.png') ?>"></div>
		<a href="/?page=repair" class="services__title"><span>Ремонт</span></a>
		<div class="services__text">
			<p>Работы по обустройству коттеджей выполняются в несколько этапов, каждый из которых имеет свои особенности. Их нужно учитывать при организации ремонтных процессов.</p>

			<p>Заказывая ремонт таунхауса под ключ (или коттеджа, или дома), можно одновременно предусмотреть сооружение пристраиваемой части. Это может быть бассейн, зимний сад или терраса.</p>

			<p>Такое «дополнение» к дому позволит расширить полезную площадь
			в комплексе ремонтных работ,
			не прибегая к отдельному<br>строительству.</p>
		</div>
		<a href="#" class="services__btn">Подробнее</a>
	</div>
	<div class="services__col">
		<div class="services__pic"><img src="<?= publicdir('img/services-3.png') ?>"></div>
		<a href="/?page=construction" class="services__title"><span>Строительство</span></a>
		<div class="services__text">
			<p>Вы решили строить дом? Этот процесс может стать как причиной для головной боли, 
			так и весьма интересным этапом жизни.</p>

			<p>Если вы хотите, чтобы строительством домов под ключ проходило по второму сценарию, доверьте этот процесс профессионалам, которые выполнят весь комплекс работ и исполнят вашу мечту жить в новом, красивом
			и уютном доме.</p>

			<p>ГК ПРОСПЕКТ занимается строительством домов под ключ
			в Москве и Подмосковье. Мы грамотно
			и оперативно реализуем проект любой сложности.</p>
		</div>
		<a href="#" class="services__btn">Подробнее</a>
	</div>
</div>